---
import Layout from "../layouts/layouts.astro";
---

<Layout title="Our House & Neighbours | Nardelli">
	<h1>Our House &amp; Neighbours</h1>
	<p>General instructions and a small map showing the house and nearby neighbours.</p>

	<h2>Neighbours map</h2>
	<div style="width: 100%; height: 60vh; min-height: 480px; border: 1px solid #eee; border-radius: 12px; overflow: hidden;">
		<iframe
			title="Nardelli – Our House & Neighbours"
			src="https://www.google.com/maps/d/embed?mid=17GPJ5eNXHo-2HNj_KNS6r1HLe_Nhqlc&ehbc=2E312F"
			width="100%"
			height="100%"
			style="border:0;"
			loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"
		></iframe>
	</div>
</Layout>