---
import Layout from "../layouts/layouts.astro";
---

<Layout title="Nardelli">
	<h1>Welcome</h1>
	<p>This is the guest guide for Nardelli.</p>

	<ul>
		<li><a href="/quick-start">Quick Start</a></li>
		<li><a href="/house-manual">House Manual</a></li>
		<li><a href="/local-essentials">Local Essentials</a></li>
		<li><a href="/day-trips">Day Trips</a></li>
		<li><a href="/map">Interactive Map</a></li>
	</ul>
</Layout>