---
import Layout from "../layouts/layouts.astro";
---

<Layout title="Leaving Checklist | Nardelli">
	<h1>Leaving Checklist</h1>

	<ul>
		<li>Put used towels in: TBD</li>
		<li>Dishwasher: run / empty (choose one approach)</li>
		<li>Bins / recycling: TBD</li>
		<li>Close windows / shutters</li>
		<li>Turn off lights</li>
		<li>Heating / AC off (or set to: TBD)</li>
		<li>Lock doors</li>
		<li>Return keys to lockbox</li>
	</ul>
</Layout>