---
import Layout from "../layouts/layouts.astro";
---

<Layout title="Leaving Checklist | Nardelli">
	<h1>Leaving Checklist</h1>

<ul>
	<li>
		Wash &amp; dry sheets (<a href="https://maps.app.goo.gl/jUqQzZuZnMzdcGYz7" target="_blank" rel="noopener noreferrer">24 Hour Self Service Laundry - ensure you have cash</a>)
	</li>
	<li>
		Clear / clean fridge &amp; cupboards of any perishable goods (it could be a long time until the next guest visits)
	</li>
	<li>Remove any bins or items for recycling</li>
	<li>Turn off boiler switch in kitchen</li>
	<li>Turn off water mains outside</li>
	<li>Turn off gas mains outside</li>
	<li>Close windows / shutters / door into the garden</li>
	<li>Turn off all lights</li>
	<li>Turn off the electricity (flip fuse switch down)</li>
	<li>Lock front door (and garden gate if open)</li>
	<li>Return keys to lockbox</li>
</ul>
</Layout>