---
import Layout from "../layouts/layouts.astro";
import MapEmbed from "../components/MapEmbed.astro";
---

<Layout title="Nearby Restaurants">
	<h1>Nearby Restaurants</h1>
	<p>Curated restaurants, bars, and cafés.</p>

	<h2>Map</h2>
<MapEmbed
	title="Local Restaurants, Bars & Cafes"
	src="https://www.google.com/maps/d/embed?mid=1s7yXs9jQ8JVRJrBzack_63GSfhvhT-E&ehbc=2E312F"
/>
</Layout>